<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="\public\stylesheets\style.css">
    <title><%= title %> </title>
  </head>
  <body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">PC World</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/addStore">Store</a>
            <a class="nav-link" href="/staff">Staff</a>
            <a class="nav-link" href="/products">Products</a>
            <a class="nav-link" href="/services">Services</a>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <div class="cell container">
      <div class="cell-ttle">
        <h5 class="text-center">Edit staff member</h5>
      </div>
    <div class="cell container">
      <form method="post" action="">
        <div class="container">
          <div class="form-floating mb-3">
            <input type="text" name="newStaffID" class="form-control" id="floatingInput" placeholder="Staff ID">
            <label for="staffID">Staff ID</label>
            <input type="hidden" value="<%=staffID %>" name="staffID">
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="staffType" class="form-control" id="floatingInput" placeholder="Job title">
            <label for="staffType">Job title</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="fName" class="form-control" id="floatingInput" placeholder="First name">
            <label for="fName">First name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="lName" class="form-control" id="floatingInput" placeholder="Last name">
            <label for="lName">Last name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="hourlyPay" class="form-control" id="floatingInput" placeholder="Pay per hour: €">
            <label for="hourlyPay">Pay per hour: €</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" name="storeID" class="form-control" id="floatingInput" placeholder="Store ID">
            <label for="storeID">Store ID</label>
          </div>
        </div>
        <% console.log(staffID, staffType) %>
        <center>
        <button class="btn btn-outline-dark"  type="submit">Submit</button>
        </center>
      </form>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
