body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  background-color: #fdfdfd;
}

a {
  color: #00B7FF;
}

.everythingToCenter{
  margin: 0 auto;
}

nav{
  margin-bottom: 20px;
} 

.cell{
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0px 1px 9px #959595;
  margin-bottom: 20px;
  padding: 20px 1%;
} 

div.add-cell-button > button.btn{
  margin-bottom: 2px;
  margin-top: 10px;
}

.main-title{
  margin-bottom: 30px;
}

